In [8]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import seaborn as sns 
import alpha_vantage.timeseries as TM

In [41]:
key = open('aa.txt').read() #add .strip() if you want to remvove any space or error

In [63]:
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key, output_format='pandas')
data, meta = ts.get_intraday('TSLA', interval='1min', outputsize='full')

In [64]:
meta

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'TSLA',
 '3. Last Refreshed': '2025-07-30 19:59:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19980 entries, 2025-07-30 19:59:00 to 2025-07-01 04:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    19980 non-null  float64
 1   2. high    19980 non-null  float64
 2   3. low     19980 non-null  float64
 3   4. close   19980 non-null  float64
 4   5. volume  19980 non-null  float64
dtypes: float64(5)
memory usage: 936.6 KB

In [66]:
data.head()

                     1. open  2. high    3. low  4. close  5. volume
date
2025-07-30 19:59:00  317.850   317.89  317.8000    317.89     9033.0
2025-07-30 19:58:00  317.805   318.00  317.8016    317.90     5816.0
2025-07-30 19:57:00  317.830   317.90  317.8000    317.80     5324.0
2025-07-30 19:56:00  317.950   317.95  317.8100    317.84     8423.0
2025-07-30 19:55:00  318.000   318.00  317.9400    317.94     4211.0

In [67]:
columns = ['open', 'high', 'low', 'close', 'volume']
data.columns = columns

In [68]:
data["Trade_date"]= data.index.date 
data["Time"] = data.index.time
data.head()

,open,high,low,close,volume,Trade_date,Time
date,,,,,,,
2025-07-30 19:59:00,317.850,317.89,317.8000,317.89,9033.0,2025-07-30,19:59:00
2025-07-30 19:58:00,317.805,318.00,317.8016,317.90,5816.0,2025-07-30,19:58:00
2025-07-30 19:57:00,317.830,317.90,317.8000,317.80,5324.0,2025-07-30,19:57:00
2025-07-30 19:56:00,317.950,317.95,317.8100,317.84,8423.0,2025-07-30,19:56:00
2025-07-30 19:55:00,318.000,318.00,317.9400,317.94,4211.0,2025-07-30,19:55:00

In [69]:
data.loc["2025-07-29"]

,open,high,low,close,volume,Trade_date,Time
date,,,,,,,
2025-07-29 19:59:00,320.490,320.63,320.42,320.6300,8813.0,2025-07-29,19:59:00
2025-07-29 19:58:00,320.430,320.50,320.43,320.4900,2380.0,2025-07-29,19:58:00
2025-07-29 19:57:00,320.440,320.49,320.42,320.4301,8813.0,2025-07-29,19:57:00
2025-07-29 19:56:00,320.430,320.50,320.42,320.4600,4789.0,2025-07-29,19:56:00
2025-07-29 19:55:00,320.515,320.53,320.42,320.4200,3801.0,2025-07-29,19:55:00
...,...,...,...,...,...,...,...
2025-07-29 04:04:00,326.520,326.72,326.52,326.6500,2632.0,2025-07-29,04:04:00
2025-07-29 04:03:00,326.270,326.58,326.25,326.5200,4888.0,2025-07-29,04:03:00
2025-07-29 04:02:00,326.470,326.57,326.19,326.3100,5417.0,2025-07-29,04:02:00
2025-07-29 04:01:00,326.460,326.72,326.25,326.4800,9218.0,2025-07-29,04:01:00
2025-07-29 04:00:00,326.980,327.00,326.14,326.4700,13104.0,2025-07-29,04:00:00

In [72]:
market = data.between_time('09:30:00', '16:00:00').copy() 
market.sort_index(inplace=True)

In [71]:
market.groupby('Trade_date').agg({'low':min, 'high':max})

/var/folders/gg/dm5j6jg565j0bblwgpt9ggsw0000gn/T/ipykernel_82889/4107890207.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  market.groupby('Trade_date').agg({'low':min, 'high':max})
/var/folders/gg/dm5j6jg565j0bblwgpt9ggsw0000gn/T/ipykernel_82889/4107890207.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  market.groupby('Trade_date').agg({'low':min, 'high':max})

                 low      high
Trade_date
2025-07-01  293.2100  305.8900
2025-07-02  303.8200  316.8320
2025-07-03  298.5013  335.6430
2025-07-07  288.7701  296.1500
2025-07-08  294.3500  304.0499
2025-07-09  293.5500  300.1500
2025-07-10  300.0000  310.4800
2025-07-11  305.6500  314.0900
2025-07-14  312.6700  322.5986
2025-07-15  310.5000  321.2000
2025-07-16  312.6200  323.5000
2025-07-17  317.0601  324.3400
2025-07-18  321.4200  330.9000
2025-07-21  326.8800  338.0000
2025-07-22  321.5500  335.4098
2025-07-23  328.6700  336.2000
2025-07-24  300.4100  310.1500
2025-07-25  308.0100  323.6300
2025-07-28  315.6900  330.4900
2025-07-29  318.2500  326.2500
2025-07-30  311.6164  324.4499

In [33]:
market.loc[market.groupby('Trade_date')['low'].idxmin()]
market.loc[market.groupby('Trade_date')]['low'].idxmin()]

,open,high,low,close,volume,Trade_date,Time
date,,,,,,,
2025-06-30 15:25:00,316.9100,317.1471,316.6000,317.0200,319614.0,2025-06-30,15:25:00
2025-07-01 09:31:00,296.2600,296.4100,293.2100,294.8800,2213254.0,2025-07-01,09:31:00
2025-07-02 10:02:00,304.5950,304.7400,303.8200,304.4100,543268.0,2025-07-02,10:02:00
2025-07-03 13:51:00,314.9700,315.0000,298.5013,314.9700,4354.0,2025-07-03,13:51:00
2025-07-07 09:56:00,288.9000,289.2900,288.7701,289.2050,662951.0,2025-07-07,09:56:00
2025-07-08 15:36:00,295.7950,295.8200,294.3500,294.5900,1246039.0,2025-07-08,15:36:00
2025-07-09 11:00:00,294.1150,294.5800,293.5500,294.4710,403309.0,2025-07-09,11:00:00
2025-07-10 09:30:00,300.0500,302.3000,300.0000,301.7499,1591295.0,2025-07-10,09:30:00
2025-07-11 09:39:00,306.6300,306.6300,305.6500,306.1800,542651.0,2025-07-11,09:39:00
2025-07-14 10:32:00,313.3856,313.4724,312.6700,313.4050,562675.0,2025-07-14,10:32:00
2025-07-15 15:21:00,310.7792,310.9500,310.5000,310.9289,251009.0,2025-07-15,15:21:00
2025-07-16 09:30:00,312.8000,314.0000,312.6200,313.3400,767334.0,2025-07-16,09:30:00
2025-07-17 13:33:00,317.5800,317.9499,317.0601,317.7300,425972.0,2025-07-17,13:33:00
2025-07-18 09:30:00,321.6600,323.3691,321.4200,322.6800,1666504.0,2025-07-18,09:30:00
2025-07-21 12:23:00,327.1312,327.4800,326.8800,327.4300,258368.0,2025-07-21,12:23:00
2025-07-22 09:54:00,322.2050,322.2900,321.5500,322.2900,545818.0,2025-07-22,09:54:00
2025-07-23 13:15:00,329.4800,329.4800,328.6700,329.1800,314821.0,2025-07-23,13:15:00
2025-07-24 12:27:00,300.6454,300.9000,300.4100,300.8800,442053.0,2025-07-24,12:27:00
2025-07-25 09:30:00,308.7400,310.6900,308.0100,310.3528,1813563.0,2025-07-25,09:30:00
2025-07-28 09:32:00,316.3950,316.8700,315.6900,316.8024,701799.0,2025-07-28,09:32:00
2025-07-29 10:27:00,318.9051,318.9600,318.2500,318.5900,593092.0,2025-07-29,10:27:00

In [34]:
market.loc[market.groupby('Trade_date')['low'].idxmax()]

,open,high,low,close,volume,Trade_date,Time
date,,,,,,,
2025-06-30 09:31:00,323.9335,325.5799,323.5900,324.2100,927032.0,2025-06-30,09:31:00
2025-07-01 10:19:00,305.2750,305.7900,305.0000,305.3290,524256.0,2025-07-01,10:19:00
2025-07-02 11:16:00,316.4700,316.8320,316.2400,316.4950,460303.0,2025-07-02,11:16:00
2025-07-03 11:46:00,318.0373,318.4500,318.0100,318.3800,292732.0,2025-07-03,11:46:00
2025-07-07 15:47:00,295.3000,295.5300,295.1700,295.2500,265814.0,2025-07-07,15:47:00
2025-07-08 10:42:00,303.4648,304.0499,303.4600,303.6936,553969.0,2025-07-08,10:42:00
2025-07-09 09:35:00,299.0100,300.1500,298.7300,299.0099,565473.0,2025-07-09,09:35:00
2025-07-10 15:44:00,310.1332,310.3000,309.8500,310.0100,305676.0,2025-07-10,15:44:00
2025-07-11 15:38:00,313.8600,313.9500,313.5700,313.5700,225851.0,2025-07-11,15:38:00
2025-07-14 09:33:00,321.2835,322.5986,321.2835,321.7834,814926.0,2025-07-14,09:33:00
2025-07-15 09:38:00,319.5900,320.2100,319.4118,319.6700,425253.0,2025-07-15,09:38:00
2025-07-16 15:54:00,323.2000,323.5000,322.8600,322.9100,466759.0,2025-07-16,15:54:00
2025-07-17 10:16:00,323.7888,324.0600,323.4200,323.4700,299945.0,2025-07-17,10:16:00
2025-07-18 14:11:00,330.5750,330.8000,330.4210,330.6400,270366.0,2025-07-18,14:11:00
2025-07-21 09:31:00,337.6207,338.0000,334.6000,335.6550,1108281.0,2025-07-21,09:31:00
2025-07-22 15:00:00,335.2100,335.4098,335.1300,335.2500,207768.0,2025-07-22,15:00:00
2025-07-23 11:56:00,335.1200,335.5600,334.7500,334.8384,256264.0,2025-07-23,11:56:00
2025-07-24 09:56:00,307.8600,308.7100,307.6048,307.6492,849084.0,2025-07-24,09:56:00
2025-07-25 12:26:00,323.3850,323.6300,323.1200,323.4600,405942.0,2025-07-25,12:26:00
2025-07-28 12:18:00,329.7802,330.4900,329.7400,330.4250,999364.0,2025-07-28,12:18:00
2025-07-29 15:17:00,323.7700,324.0600,323.5500,323.5500,292011.0,2025-07-29,15:17:00